<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Author: plusperson@gmail.com -->
<mapper namespace="org.goal.rgas.report.ReportMapper">
    <resultMap id="reportResultMap" type="org.goal.rgas.report.Report">
        <result column="NO" property="no" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="PERFORM_NO" property="performNo" />
        <result column="NOTE" property="note" />
        <result column="REPORT_DATE" property="reportDate" />
        <result column="STATUS" property="status" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="memberNo != null and memberNo != ''">
                AND MEMBER_NO = #{memberNo}
            </if>
            <if test="performNo != null and performNo != ''">
                AND PERFORM_NO = #{performNo}
            </if>
            <if test="note != null and note != ''">
                AND NOTE = #{note}
            </if>
            <if test="reportDate != null">
                AND REPORT_DATE = #{reportDate}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="org.goal.rgas.report.Report" resultType="int">
        SELECT COUNT(*)
        FROM REPORT
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="org.goal.rgas.report.Report" resultMap="reportResultMap">
        SELECT *
        FROM (
            SELECT
                NO,
                MEMBER_NO,
                PERFORM_NO,
                NOTE,
                REPORT_DATE,
                STATUS
            FROM REPORT
            <include refid="whereSql" />
        ) TB
    </select>

    <select id="select" parameterType="org.goal.rgas.report.Report" resultMap="reportResultMap">
        SELECT
            NO,
            MEMBER_NO,
            PERFORM_NO,
            NOTE,
            REPORT_DATE,
            STATUS
        FROM REPORT
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="org.goal.rgas.report.Report">
        INSERT INTO REPORT (
            MEMBER_NO,
            PERFORM_NO,
            NOTE,
            REPORT_DATE,
            STATUS
        ) VALUES (
            #{memberNo},
            #{performNo},
            #{note},
            NOW(),
            'W'
        )
    </insert>

    <update id="update" parameterType="org.goal.rgas.report.Report">
        UPDATE REPORT
        <set>
            <if test="status != ''">
                STATUS = #{status},
            </if>
        </set>
        <where>
        	NO = #{no}
        </where>
    </update>

    <delete id="delete" parameterType="org.goal.rgas.report.Report">
        DELETE FROM REPORT
        <include refid="whereSql" />
    </delete>
</mapper>