<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Author: plusperson@gmail.com -->
<mapper namespace="org.goal.rgas.donation.DonationSaveMapper">
    <resultMap id="donationSaveResultMap" type="org.goal.rgas.donation.DonationSave">
        <result column="NO" property="no" />
        <result column="PAYMENT_NO" property="paymentNo" />
        <result column="AMOUNT" property="amount" />
        <result column="SAVE_DATE" property="saveDate" />
        <result column="STATUS" property="status" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="paymentNo != null and paymentNo != ''">
                AND PAYMENT_NO = #{paymentNo}
            </if>
            <if test="amount != null and amount != ''">
                AND AMOUNT = #{amount}
            </if>
            <if test="saveDate != null">
           		 SAVE_DATE <![CDATA[ < ]]> #{saveDate}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="org.goal.rgas.donation.DonationSave" resultType="int">
        SELECT COUNT(*)
        FROM DONATION_SAVE
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="org.goal.rgas.donation.DonationSave" resultMap="donationSaveResultMap">
        SELECT *
        FROM DONATION_SAVE
        <include refid="whereSql" />
    </select>

    <select id="select" parameterType="org.goal.rgas.donation.DonationSave" resultMap="donationSaveResultMap">
        SELECT
            NO,
            PAYMENT_NO,
            AMOUNT,
            STATUS
        FROM DONATION_SAVE
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="org.goal.rgas.donation.DonationSave">
        INSERT INTO DONATION_SAVE (
            PAYMENT_NO,
            AMOUNT,
            SAVE_DATE
        ) VALUES (
            #{paymentNo},
            #{amount},
            NOW()
        )
    </insert>

    <update id="update" parameterType="org.goal.rgas.donation.DonationSave">
        UPDATE DONATION_SAVE
        <set>
            <if test="status != ''">
                STATUS = #{status},
            </if>
        </set>
        <where>
        	<if test="saveDate != null">
                AND SAVE_DATE <![CDATA[ < ]]>  #{saveDate}          
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="org.goal.rgas.donation.DonationSave">
        DELETE FROM DONATION_SAVE
        <include refid="whereSql" />
    </delete>
</mapper>