<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Author: plusperson@gmail.com -->
<mapper namespace="org.goal.rgas.donation.DonationTransferMapper">
    <resultMap id="donationTransferResultMap" type="org.goal.rgas.donation.DonationTransfer">
        <result column="NO" property="no" />
        <result column="CHARITY_NO" property="charityNo" />
        <result column="AMOUNT" property="amount" />
        <result column="TRANSFER_DATE" property="transferDate" />
    </resultMap>

    <sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="charityNo != null and charityNo != ''">
                AND CHARITY_NO = #{charityNo}
            </if>
            <if test="amount != null and amount != ''">
                AND AMOUNT = #{amount}
            </if>
            <if test="transferDate != null and transferDate != ''">
                AND TRANSFER_DATE = #{transferDate}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="org.goal.rgas.donation.DonationTransfer" resultType="int">
        SELECT distinct CHARITY_NO
        FROM DONATION_TRANSFER
        <include refid="whereSql" />
    </select>

    <select id="list" parameterType="org.goal.rgas.donation.DonationTransfer" resultMap="donationTransferResultMap">
            SELECT
                NO,
                CHARITY_NO,
                AMOUNT,
                TRANSFER_DATE
            FROM DONATION_TRANSFER
            <include refid="whereSql" />
    </select>

    <select id="select" parameterType="org.goal.rgas.donation.DonationTransfer" resultMap="donationTransferResultMap">
        SELECT
            NO,
            CHARITY_NO,
            AMOUNT,
            TRANSFER_DATE
        FROM DONATION_TRANSFER
        <include refid="whereSql" />
    </select>

    <insert id="insert" parameterType="org.goal.rgas.donation.DonationTransfer">
        INSERT INTO DONATION_TRANSFER (
            CHARITY_NO,
            AMOUNT,
            TRANSFER_DATE
        ) VALUES (
            #{charityNo},
            #{amount},
            NOW()
        )
    </insert>

    <update id="update" parameterType="org.goal.rgas.donation.DonationTransfer">
        UPDATE DONATION_TRANSFER
        <set>
            <if test="no != ''">
                NO = #{no},
            </if>
            <if test="charityNo != ''">
                CHARITY_NO = #{charityNo},
            </if>
            <if test="amount != ''">
                AMOUNT = #{amount},
            </if>
            <if test="transferDate != ''">
                TRANSFER_DATE = #{transferDate},
            </if>
        </set>
    </update>

    <delete id="delete" parameterType="org.goal.rgas.donation.DonationTransfer">
        DELETE FROM DONATION_TRANSFER
        <include refid="whereSql" />
    </delete>
</mapper>